{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p><b>Description:</b> {{ dish.description }}</p>
  <p><b>Dish type:</b> {{ dish.dish_type }}</p>
  <p><b>Price:</b> {{ dish.price }}</p>
  <h2>
    Cooks

    {% if dish in user.dishes.all %}
      <a href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'restaurant:toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me to this dish
      </a>
    {% endif %}

  </h2>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.first_name }} {{ cook.last_name }} ({{ cook.years_of_experience }})</li>
    {% endfor %}
  </ul>
{% endblock %}
